.hero-container {
  .expert-icon {
    margin-left: 4px;
    bottom: -24px;
  }
}
@media screen and (min-width: 992px) {
  .hero-container {
    .creative-team-container {
      right: 245px;
    }
    .hero-container-left {
      margin-right: -45px;
    }
    .hero-container-right {
      margin-right: -90px;
    }
  }
}
@media screen and (min-width: 1300px) {
  .hero-container {
    .expert-icon {
      width: 120px;
      height: auto;
      bottom: 0;
      margin-left: 12px;
    }
  }
  .hero-container {
    .hero-container-left {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    h1 {
      font-size: 70px;
      font-weight: 600;
    }
    .creative-team-container {
      right: 400px;
    }
  }
}

@media screen and (min-width: 1820px) {
  .hero-container {
    h1 {
      text-align: start;
    }
  }
}
