// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

.search-input {
  width: 125px;
  border: 1px solid black;
}

.hero-container {
  .expert-icon {
    margin-left: 4px;
    bottom: -24px;
  }
}
.media-card {
  width: 18rem;
}
.complex-img {
  width: 80%;
  height: 150px;
}
.seo-cir-img {
  width: 50px;
}
@media (min-width: 768px) {
  .complex-img {
    width: 90%;
    height: 350px;
  }
  .seo-cir-img {
    margin-top: 25px;
  }
}

.plans {
  background-color: #f2f2f2;
}

.yel-btn {
  background-color: white;
}
.my-p {
  color: rgb(111, 119, 241);
}
.translate-card {
  transition: transform 0.1s ease;
}

.translate-card:hover {
  transform: scale(1);
  background-color: rgb(111, 119, 241);
  color: white;
  .my-p {
    color: white;
  }
  .yel-btn {
    background-color: rgb(250, 215, 37);
    border: none;
  }
  .card-body {
    p {
      color: white;
    }
  }
}
.card-img {
  margin: auto;
  width: 45%;
}
.social-icon {
  margin-top: 5px;
  width: 100%;
}
.feedback-row-items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: auto;
  .feedback-row-item {
    float: 0 0 auto;
  }
}
.footer-input {
  background-color: #f2f2f2;
}

.seo-card {
  transition: transform 0.3s ease;
}
.seo-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 0.25rem;
}
.target-block {
  padding: 10px;
  margin-top: 5px;
  height: 250px;
  margin-bottom: 5px;
  // transition: transform 0.1s ease;
  &:hover {
    // transform: scale(1);
    // padding: 10px;

    box-shadow: 0px 10px 14px 2px rgba(14, 17, 60, 0.03);
    background-color: #fff;
    border-radius: 0.25rem;
    border-bottom: 2px solid #6f77f1;
  }
}
.subscribe {
  background-color: #6f77f1;
  color: white;
}
.business-img {
  background-image: url("./assets/bg-vector.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.business-block {
  background-color: #f2f2f2;
}
.default-color {
  color: #6f77f1;
}
.optimization-transition {
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}
.learn-more {
  border-radius: 2px;
  border: none;
  padding: 15px;
  background-color: #fad725;
}

.stats-section {
  .brdr {
    border: 0;
    @media (min-width: 700px) {
      border: $text-muted 1px solid;
      border-radius: 1px;
    }
  }
  .stat-box {
    h2 {
      font-size: 4rem;
      font-weight: 600;
      margin: 0;
      @media (max-width: 1000px) {
        font-size: 2rem;
      }
      color: #666565;
    }
    p {
      font-size: 1rem;
      color: $text-muted;
    }
  }
  .dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0px 0px;
    padding: 0;
    &.red {
      background-color: #eb5939;
    }
    &.green {
      background-color: #32d748;
    }
    &.yellow {
      background-color: #ffcd4b;
    }
  }
}

.member-cart {
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.1);
  }
}
.internet-img {
  max-width: 300px;
}
@media (min-width: 576px) {
  .internet-img {
    max-width: 400px;
  }
}
@media (min-width: 992px) {
  .internet-img {
    max-width: 100%;
    height: auto;
  }
}
.speed-heading {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}
.speed-caption {
  color: #828282;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .speed-heading {
    font-size: 35px;
  }
  .speed-caption {
    font-size: 17px;
  }
}
.submit-bottun {
  width: 100%;
  padding: 10px;
  border-radius: 2px;
  background-color: #fad725;
}
@media (min-width: 992px) {
  .input {
    width: 20%;
    padding: 10px;
  }
}

.creative-team-container {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  right: 45px;
  .creative-team-inner-container {
    .left-most {
      margin-left: 4px;
    }
    img {
      margin-left: -20px;
    }
  }
}

@media screen and (min-width: 992px) {
  .hero-container {
    .creative-team-container {
      right: 245px;
    }
    .hero-container-left {
      margin-right: -45px;
    }
    .hero-container-right {
      margin-right: -90px;
    }
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-image: url("../../src/assets/bg-img-body.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .container-fluid {
    padding-left: 10px;
    padding-right: 120px;
  }

  .hero-container {
    .expert-icon {
      width: 120px;
      height: auto;
      bottom: 0;
      margin-left: 12px;
    }
  }
  .hero-container {
    .hero-container-left {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
    h1 {
      font-size: 70px;
      font-weight: 600;
    }
    .creative-team-container {
      right: 400px;
    }
  }

  .heading-responsive-size {
    font-size: 45px;
    font-weight: 500;
  }
  .take-a-tour {
    height: 65px;
  }
  .button-1 {
    padding: 20px 40px;
    background-color: rgba(250, 215, 37, 1);
  }
}

@mixin background-img($img) {
  background: url(".././assets/#{$img}.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 185px 25px;
}

.website-bg-img-1 {
  @include background-img(1);
}
.website-bg-img-2 {
  @include background-img(2);
}
.website-bg-img-3 {
  @include background-img(3);
}
.website-bg-img-4 {
  @include background-img(4);
}

.feedback-bg-img {
  background-image: url("../assets/“.png");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 10px 20px;
}
@media (width: 1820px) {
  .hero-container {
    h1 {
      text-align: start;
    }
  }
  .media-card {
    width: 20rem;
  }
  .input {
    width: 25%;
    padding: 18px;
  }
  .website-container {
    .row {
      .col {
        .speed-heading {
          width: 754px;
          height: 65px;
          left: 178px;
          top: 5917px;
          font-style: normal;
          font-weight: 500;
          font-size: 55px;
          line-height: 65px;
          color: #212528;
        }
      }
    }
  }
}

.pricing-container {
  .card-body {
    p {
      color: #828282;
    }
  }
}
